.nav-button{
  background-color: #008DA2;
  min-width: 320px;
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0px 4px 25px 0px #000;
  position: relative;
  border: none;
  &:hover{
    background-color: #008DA2;
  }
  &__invert{
    background-color: #fff;
    &:hover{
      background-color:#fff;
    }
  }
}

.callout__img{
  max-width:477px;
}
