.bg-mortgage{
  background-blend-mode: multiply;
  background-color:#008DA2;
}

.service-callout{
  &__finance{
    max-width: 980px;
  }
  &__refinance{
    max-width: 1100px;
    & .description{
      max-width:600px;
    }
  }
}

.reward{
  background-color: #F8F8F8;
}
.speak-with-us{
  background-color:#0083991A;
}
.num-bullet{
  width:28px;
  font-size:20px;
  font-weight:700;
}
.orange-path__img{
  max-width: 500px;
  @include agr-media-sm{
    max-width: 350px;
  }
}
.edu__img{
  max-width: 500px;
  @include agr-media-sm{
    max-width: 350px;
  }
}
